#layout-header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background: #14c349;
  color: white;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #layout-header nav .mini-logo p {
    margin: 5px;
    font-size: 1.6rem;
    font-weight: bold; }
  #layout-header nav .mini-logo .mini-logo :hover {
    color: cadetblue; }
  #layout-header nav .auth-links ul {
    margin: 8% 5px;
    display: flex; }
    #layout-header nav .auth-links ul li {
      margin-right: 12px; }
  #layout-header nav a {
    color: white;
    text-decoration: none; }
