#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    background-image: linear-gradient(to top right, grey,black);

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}